# Application & UI
streamlit==1.55.0
python-dotenv==1.2.2
rich==14.3.3
httpx==0.28.1

# PDF Parsing
PyMuPDF==1.27.2.2
pdfplumber==0.11.9

# Vector DB
chromadb==1.5.5

# LlamaIndex Core & Agent Workflows
llama-index-core==0.14.19
llama-index-workflows==2.17.1

# LlamaIndex Integrations 
llama-index-llms-groq==0.3.2
llama-index-llms-ollama==0.6.2
llama-index-embeddings-huggingface==0.5.5
llama-index-vector-stores-chroma==0.4.2
llama-parse==0.6.94
